{{ define "main" }}
<div class="p-4 md:py-4 md:px-16">
    <div class="grid grid-cols-12 gap-4 w-full mb-44">
        <div class="col-span-2 text-xl">
            Tradtion neu geschnitten.
        </div>
        <div class="col-span-8 text-4xl">

        </div>
    </div>
    <div>
        {{ $image := .Resources.GetMatch "ueberuns.webp" }}
        <img class="mb-16" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
    </div>
</div>

{{- partial "knowEachOther.html" . -}}

{{ end }}