@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ABCDiatype';
    src: url('../fonts/ABCDiatype-Medium.woff2') format('woff2'),
        url('../fonts/ABCDiatype-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABCDiatype';
    src: url('../fonts/ABCDiatype-MediumItalic.woff2') format('woff2'),
        url('../fonts/ABCDiatype-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

body {
    font-weight: 500;
    font-family: ABCDiatype, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8F8F91;
    color: black;
    letter-spacing: -1px;
}

ul.arrow {
    list-style-type: none
}

ul.arrow li {
    display: grid;
    grid-template-columns: 20px auto;
    justify-content: start;
    align-items: center;
}

ul.arrow li::before {
    content: "🡪";
    font-size: 1rem;
}