{{ define "main" }}
<section class="p-4 md:py-4 md:px-16">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-8 w-full mb-12 md:mb-32">
    <div class="md:col-span-2 text-xl break-words">
      Präzision braucht Persönlichkeiten. Werde Teil unseres Teams!
    </div>
    <div class="md:col-span-8 text-2xl md:text-4xl">
      <div class="mb-8">
        Präzise. Engagiert. Zuverlässig. Du willst Teil eines dynamischen Teams
        werden, das gemeinsam Großes schafft? Dann bring dein Können zu uns – wo
        Präzision und Teamgeist Hand in Hand gehen.
      </div>
      <hr class="mb-8" />
      <div class="mb-8">
        <h3 class="font-bold">CNC-Programmierer (m/w/d)</h3>
        <div class="mt-4">
          <h4 class="text-2xl">Deine zukünftige Rolle:</h4>
          <ul class="text-xl list-disc list-inside">
            <li>Zeichnungsaufbereitung der Kundenzeichnungen</li>
            <li>Erstellen der Laserprogramme (Trumpf)</li>
            <li>Erstellen der Kantprogramme (Trumpf)</li>
            <li>Selbständige und genaue Arbeitsweise</li>
            <li>Enge Abstimmung mit der Produktion</li>
          </ul>
        </div>
        <div class="mt-4">
          <h4 class="text-2xl">Das zeichnet dich aus:</h4>
          <ul class="text-xl list-disc list-inside">
            <li>Abgeschlossene technische Ausbildung</li>
            <li>Selbständige und genaue Arbeitsweise</li>
            <li>Qualitätsbewusstsein</li>
            <li>Lesen von technischen Zeichnungen</li>
            <li>Deutsch in Wort und Schrift</li>
            <li>Berufserfahrung als Programmierer erwünscht</li>
          </ul>
        </div>
        <div class="mt-4">
          <h4 class="text-2xl">Das bieten wir:</h4>
          <ul class="text-xl list-disc list-inside">
            <li>Ein Familienunternehmen, in dem alle per Du sind</li>
            <li>Ein neues, modernes Firmengebäude</li>
            <li>Spannende und abwechslungsreiche Aufgaben</li>
            <li>Eigenverantwortliches und selbständiges Arbeiten</li>
            <li>
              Monatsbruttolohn <strong>ab € 2.570,99</strong> (KV Metallgewerbe,
              Basis Vollzeit) – abhängig von Qualifikation und Erfahrung ist
              eine Überzahlung möglich
            </li>
          </ul>
        </div>
        <p class="mt-4 text-xl">
          Bitte sende uns deine aussagekräftigen Bewerbungsunterlagen an
          Christoph Ebner unter
          <a href="mailto:office@ebner-blechtechnik.at"
            >office@ebner-blechtechnik.at</a
          >.
        </p>
        <p class="mt-4 text-xl">
          Die EBNER Blechtechnik steht für Diversität und lehnt Diskriminierung
          ab. Wir freuen uns auf Bewerbungen von Menschen unabhängig von
          Geschlecht, Herkunft, Religion, Alter, Beeinträchtigung oder sexueller
          Orientierung.
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
