{{ define "main" }}
<section class="p-4 md:py-4 md:px-16">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 w-full mb-4">
        <div class="col-span-2 text-xl break-words">
            Medieninhaber, Autor und Herausgeber
        </div>
        <div class="col-span-8 text-2xl text-justify md:text-left">
            <address class="not-italic mb-8">
                {{ $.Site.Params.Company }}<br />
                {{ $.Site.Params.Street }}<br />
                {{ $.Site.Params.ZipCode }} {{ $.Site.Params.City }}
            </address>
            <ul>
                <li>{{ $.Site.Params.Phone }}</li>
                <li>{{ $.Site.Params.Mail }}</li>
            </ul>
        </div>
    </div>
</section>

<section class="p-4 md:py-4 md:px-16">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 w-full mb-4">
        <div class="col-span-2 text-xl break-words">
            Unternehmensdaten
        </div>
        <div class="col-span-8 text-2xl text-justify md:text-left">
            <ul>
                <li>Firmenbuchnummer: {{ $.Site.Params.Fbn }}</li>
                <li>Firmenbuchgericht: Landesgericht Wels</li>
                <li>UID-Nummer: {{ $.Site.Params.Uid }}</li>
                <li>WKO-Mitgliedschaft: Landesinnung Metalltechniker</li>
            </ul>
        </div>
    </div>
</section>

<section class="p-4 md:py-4 md:px-16">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 w-full mb-4">
        <div class="col-span-2 text-xl break-words">
            Informationspflicht lt. ECG
        </div>
        <div class="col-span-8 text-2xl text-justify md:text-left">
            {{ $image := .Resources.GetMatch "ecg.gif" }}
            <a href="https://firmen.wko.at/ebner-blechtechnik-gmbh-lohnfertigung-von-blechkomponenten/ober%c3%b6sterreich/?firmaid=4a819611-9026-4ade-8c97-761f600bf246"><img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}"></a>
        </div>
    </div>
</section>

<section class="p-4 md:py-4 md:px-16">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 w-full mb-4">
        <div class="col-span-2 text-xl break-words">
            Verweise und Links
        </div>
        <div class="col-span-8 text-2xl text-justify md:text-left">
            <p class="mb-4">
                Bei direkten oder indirekten Verweisen auf fremde Internetseiten („Links“), die außerhalb des Verantwortungsbereiches 
                des Medieninhabers liegen, wird keinerlei Haftungsverpflichtung übernommen.
            </p>
            <p>
                Die {{ $.Site.Params.Company }} erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen 
                Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, 
                die Inhalte oder die Urheberschaft der gelinkten/verknüpften Seiten hat der Medieninhaber keinerlei 
                Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller 
                gelinkten/verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung 
                gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise. Für illegale, 
                fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder 
                Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, 
                auf die verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
            </p>
        </div>
    </div>
</section>

<section class="p-4 md:py-4 md:px-16">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 w-full mb-4">
        <div class="col-span-2 text-xl break-words">
            Urheber- und Kennzeichenrecht
        </div>
        <div class="col-span-8 text-2xl text-justify md:text-left">
            <p class="mb-4">
                Die {{ $.Site.Params.Company }} ist bestrebt in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente,
                Videosequenzen und Texte zu beachten, vom Medieninhaber selbst erstellte Grafiken, Tondokumente, Videosequenzen
                und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen.
                Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen
                unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten
                der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen,
                dass Markenzeichen nicht durch Rechte Dritter geschützt sind.
            </p>
            <p>
                Das Copyright für veröffentlichte, vom Medieninhaber selbst erstellte Objekte bleibt allein bei der
                {{ $.Site.Params.Company }}. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente,
                Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist
                ohne ausdrückliche Zustimmung des Autors nicht gestattet.
            </p>
        </div>
    </div>
</section>

<section class="p-4 md:py-4 md:px-16">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 w-full mb-4">
        <div class="col-span-2 text-xl break-words">
            Rechtswirksamkeit dieses Haftungsausschlusses
        </div>
        <div class="col-span-8 text-2xl text-justify md:text-left">
            <p class="mb-4">
                Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf
                diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes 
                Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen
                Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
            </p>
        </div>
    </div>
</section>

{{ end }}