{% macro footer() %}
<footer class="bg-black text-white p-4 md:py-4 md:px-16">
    <address class="text-2xl md:text-4xl not-italic 
                    mb-20 md:mb-40">
        ENBER Blechtechnik GmbH<br />
        Gewerbepark Ost 11<br />
        4621 Sipbachzell
    </address>
    <nav class="text-xl md:text-2xl flex justify-between">
        <ul>
            <li class="inline-block mr-8"><a href="/Impressum">Impressum</a></li>
            <li class="inline-block"><a href="/Datenschutz">Datenschutz</a></li>
        </ul>
        <ul>
            <li><a href="">AGB</a></li>
        </ul>
    </nav>
</footer>
{% endmacro %}