{% extends "base.html" %}

{% block content %}
<div class="md:ml-44">
    <section class="text-2xl mt-12 leading-5.5 md:text-4xl md:leading-9">
        Jeder Schnitt nach Maß. Natürlich in bester Qualität. Ganz genau. Immer. Ebner Blechtechnik.
        Ein verlässlicher Partner für Lohnfertigung von Einzelteilen bis hin zu Serien.
        Ein langfristiger Partner. Effizient. Engagiert. Zuverlässig. Termintreu.
        Exakt. Mit jedem Schnitt.
        Mit jeder Kante. Mit jedem Wort.
    </section>

    <section class="text-xl mt-6 leading-5.5 flex flex-col md:pl-24 md:mt-28 md:flex-row">
        <ul class="w-72 relative">
            <li>Der perfekte Schnitt.</li>
            <li>Die perfekte Kante.</li>
            <li>Ohne Kompromiss</li>
        </ul>
        <ul class="arrow mt-20 mr-8 md:mt-0 right-0 absolute md:relative">
            <li>Laserzuschnitt</li>
            <li>Stanzzuschnitt</li>
            <li>Abkantung</li>
        </ul>
    </section>

    <div class="clear-both"></div>

    <section class="mt-32 md:mt-16 relative">
        <div class="text-2xl md:text-4xl">Lernen wir uns kennen.</div>
        <div class="flex flex-col md:flex-row md:pl-24 mt-6 text-xl">
            <div class="leading-5.5 w-72">
                Christoph Ebner<br />
                Geschäftsführer
            </div>
            <ul class="leading-5.5 arrow mt-4 md:mt-0">
                <li><a class="underline" href="tel:+436644162235">+43 664 41 62 235</a></li>
                <li><a class="underline" href="mailto:office@ebner-blechtechnik.at">office@ebner-blechtechnik.at</a></li>
            </ul>
        </div>
    </section>
</div>
{% endblock content %}
