<head>   
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/icons/favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.BaseURL }}/icons/site.webmanifest">
    <link rel="mask-icon" href="{{ .Site.BaseURL }}/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/js/photoswipe/photoswipe.css">

    {{ $style := resources.Get "style.css" }}    
    <link rel="stylesheet" href="{{ $style.Permalink }}"> 
    <title>{{ $.Site.Title }}</title>
    <meta name="description" content="{{ $.Page.Description }}" />
    <meta name="keywords" content="Ebner, Blechtechnik, Christoph Ebner, Blech, Lasern, Laserzuschnitt, Stanzen, Abkanten, Lohnfertiger, Lohnfertigung, Zuschnitt " />

    <script>
        (function(d, s, id, w, f){
            w[f] = w[f] || function() {
                (w[f].q = w[f].q || []).push(arguments)
            };
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)){ return; }
            js = d.createElement(s); js.id = id;
            js.onload = function(){
                // remote script has loaded
            };
            js.async = true;
            js.src = "https://cdn.trackboxx.info/p/tracker.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'trackboxx-script', window, 'trackboxx'));
        trackboxx('set', 'siteId', 'TB-32923525');
        trackboxx('trackPageview');
    </script>

    {{ $baseURL := .Site.BaseURL }}
    {{ if .Params.galleryIds }}
        {{ range .Params.galleryIds }}
            <script type="module">
                import PhotoSwipeLightbox from '{{ $baseURL }}/js/photoswipe/photoswipe-lightbox.esm.js';
                const lightbox = new PhotoSwipeLightbox({
                    gallery: '#{{ . }}',
                    children: 'a',
                    pswpModule: () => import('{{ $baseURL }}/js/photoswipe/photoswipe.esm.js')
                });
                lightbox.init();
            </script>
        {{ end }}
    {{ end }}

    <script type="application/ld+json">
        { "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Ebner Blechtechnik GmbH",
        "legalName" : "Ebner Blechtechnik GmbH",
        "url": "https://www.ebner-blechtechnik.at/",
        "logo": "https://www.ebner-blechtechnik.at/img/logo.png",
        "foundingDate": "2022",
        "founders": [
        {
        "@type": "Person",
        "name": "Christoph Ebner"
        }],
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "Gewerbepark Ost 11",
        "addressLocality": "Sipbachzell",
        "addressRegion": "Oberösterreich",
        "postalCode": "4621",
        "addressCountry": "Austria"
        },
        "contactPoint": {
            "@type": "ContactPoint",
            "contactType": "Geschäftsführer",
            "telephone": "[+43 664 41 62 235]",
            "email": "office@ebner-blechtechnik.at"
        },
        "sameAs": [ 
        "https://www.facebook.com/Ebner-Blechtechnik-GmbH-100989389383313",
        "https://www.linkedin.com/company/ebner-blechtechnik-gmbh/"
        ]}
    </script>
</head>