<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/icons/favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.BaseURL }}/icons/site.webmanifest">
    <link rel="mask-icon" href="{{ .Site.BaseURL }}/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {{ $style := resources.Get "style.css" }}    
    <link rel="stylesheet" href="{{ $style.Permalink }}"> 
    <title>{{ $.Site.Title }}</title>
    <meta name="description" content="{{ $.Page.Description }}" />
    <meta name="keywords" content="Ebner, Blechtechnik, Christoph Ebner, Blech, Lasern, Laserzuschnitt, Stanzen, Abkanten, Lohnfertiger, Lohnfertigung, Zuschnitt " />
</head>